@intergi:registry=https://npm.pkg.github.com
//npm.pkg.github.com:_authToken=${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}

# fixes error in npm v7 when calling npm install:
# https://stackoverflow.com/questions/66239691/what-does-npm-install-legacy-peer-deps-do-exactly-when-is-it-recommended-wh
legacy-peer-deps=true